[Unit]
Description=Edge Modbus Service
After=network.target

[Service]
User=lightgroup
WorkingDirectory=/home/lightgroup/edg_server_script_v1
ExecStart=/home/lightgroup/edg_server_script_v1/venv/bin/python /home/pi/edg_server_script_v1/main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target